<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Add Employee</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>New Employee</h1>
		<form role="form" action="/employees/new"
			th:action="@{/employees/new}" th:object="${emp0}" method="POST"
			class="form-vertical">
			<div class="form-group">
				<label for="code">Code:</label> <input type="text"
					th:field="*{code}" id="code" class="form-control" />
			</div>
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					th:field="*{name}" id="name" class="form-control" />
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="text"
					th:field="*{email}" id="email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="phone">Phone:</label> <input type="text"
					th:field="*{phone}" id="phone" class="form-control" />
			</div>
			<div class="form-group">
				<label for="department">Department:</label> 
				<select th:field="*{department}" class="form-control" id="department">
					<option th:each="department:${deps}"
						th:value="${department.id}" 
						th:text="${department.name}">NA</option>
				</select>
			</div>
			<div class="form-group">
				<label for="sex">Gender:</label> 
				<select th:field="*{sex}"
					class="form-control" id="sex">
					<option value="NA">NA</option>
					<option value="MALE">MALE</option>
					<option value="FEMALE">FEMALE</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Add" class="btn btn-success" /> <input
					type="reset" value="Clear" class="btn btn-default" />
			</div>
		</form>
	</div>
</body>
</html>