<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
<title>Add Employee</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>New Employee</h1>
		<form role="form" action="#" th:action="@{/employees/new}"
			th:object="${emp0}" method="POST" class="form-vertical" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label">Photo:</label> 
				<input type="file" class="btn btn-file" />
			</div>
			<div class="form-group">
				<label for="code">Code:</label> <input type="text"
					th:field="*{code}" id="code" class="form-control" />
			</div>
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					th:field="*{name}" id="name" class="form-control" />
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="text"
					th:field="*{email}" id="email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="phone">Phone:</label> 
				<input type="text" th:field="*{phone}" id="phone" class="form-control" />
			</div>
			<div class="form-group">
				<label for="position">Position:</label> 
				<select th:field="*{position}" class="form-control" id="position">
					<option value="NA">NA</option>
					<option value="MANAGER">MANAGER</option>
					<option value="SUPERVISOR">SUPERVISOR</option>
					<option value="ACCOUNTANT">ACCOUNTANT</option>
					<option value="RESERVER">RESERVER</option>
					<option value="CHEF">CHEF</option>
					<option value="BARTENDER">BARTENDER</option>
					<option value="WAITER">WAITER</option>
					<option value="HOUSE KEEPER">HOUSE KEEPER</option>
					<option value="PORTER">PORTER</option>
					<option value="RESCEPTIONIST">RESCEPTIONIST</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Add" class="btn btn-success" /> <input
					type="reset" value="Clear" class="btn btn-default" />
			</div>
		</form>
		<div th:replace="footers :: footer_all">
			<p>Henry Patrick Karugendo</p>
		</div>
	</div>
</body>
</html>