<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DT354 Bistro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/application.css}" href="../css/application.css" />
</head>
<body>
	<div th:fragment="footer_all">
		<p>&#169;2016 Henry Patrick Karugendo</p>
	</div>
</body>
</html>