<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
<title>Welcome</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="notice-good">
			<p th:text="${messageG}">Notice</p>
		</div>
		<div class="error">
			<p th:text="${messageB}">Notice</p>
		</div>
		<div class="top-deco">
			<p><img th:src="@{/images/backgrounds/index.png}" /></p>
			<h1>Welcome to DT354 Bistro</h1>
			<p>Please login below to continue</p>
		<div class="bottom-deco">
			<form role="form" action="#" th:action="@{/login}"
			th:object="${user}" method="POST">
			<fieldset class="form-group">
				<label for="email">Email: </label> 
				<input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter email" /> 
				<small class="text-muted">Make sure you use the registered email.</small>
			</fieldset>
			<fieldset class="form-group">
				<label for="password">Password: </label> 
				<input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Enter Password" /> 
				<small class="text-muted">Must be at least 6 characters long.</small>
			</fieldset>
			<fieldset class="form-group">
				<input type="submit" value="Login" class="btn btn-success" /> 
				<input type="reset" value="Clear" class="btn btn-default" />
			</fieldset>
		</form>
		</div>
		</div>
	</div>
</body>
</html>